body {
    margin: 0;
    /* background-color: lightblue; */
}
.navbar {
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: left;    
  }
.navbar a{

    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

#houses{
    border-collapse: collapse;
}
#houses td, #houses th{
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}
#houses th{
    text-align: center;
}

#registration {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
h1{
    display: flex;
    justify-content: center;
}
#submitBtn{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.site-identity{
    display: flex;
    justify-content: left;
}
/* .site-identity img{
    display: flex;
    justify-content: left;
} */
.site-identity p{
    display: flex;
    align-items: center;
}
