body {
    margin: 0;
    /* background-color: lightblue; */
}

.navbar {
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: space-between;
    /* flex-flow: column wrap; */
    /* display: inline-block; */
    /* display: flex; */
    align-items: center;

  }
.navbar a{

    color: #f2f2f2;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav-list{
    display: inline-block;
}
.nav-list a:hover {
    background-color: #ddd;
    color: black;
}
.menu{
    padding: 14px 16px;
    display: none;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
}
@media screen and(max-width: 480px) {
    .navbar{
        flex-direction: column;
    } 
    .menu{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;

    }
    .nav-list a{
        display: block;
        border-top: 1px solid white;
    }
    .nav-list{
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .logo{
        width: 100%;
        margin-top: 10px;
        margin-left: 10px;
    }
    .active{
        display: block;
    }
}
.menu-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}