body {
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}

.navbar {
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: space-between;
    /* flex-flow: column wrap; */
    /* display: inline-block; */
    /* display: flex; */
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 50;

}
.navbar a{

    color: #f2f2f2;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}
.nav-list a.active{
    background-color: gray;
    color: black;
    border-radius: 10px;
}
.nav-list{
    display: inline-block;
}
.nav-list a:hover {
    background-color: gray;
    color: black;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
    user-select: none;
    outline: none;
}
.menu{
    padding: 14px 16px;
    display: none;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
}

@media screen and (max-width: 600px) {
    .navbar{
        flex-direction: column;
    } 
    .menu{
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;

    }
    .nav-list a{
        display: block;
        border-top: 1px solid white;
    }
    .nav-list{
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .logo{
        width: 100%;
        margin-top: 10px;
        margin-left: 10px;
    }
    .active{
        display: block;
    }


    .container{

        display: flex;
        flex-direction: column;
    }
    .service{
        margin-top: 10px;
        margin-bottom: 20px;
    
    
    }
}
.menu-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
header{
    width: 100%;
    display: block;
    /* background-image: url(../imagini/logooo.jpg); */
    /* background-position: center, center; */
    background-color: white;
}
header img{
    width: 100%;
    display: block;
}

.mySlides {
    display: none;
    /* height: 300px; */
    /* max-width: 1000px;
    margin-left: 50vh;
    margin-right: 50vh; */
}
.slideshow-container {
    /* height: 100px; */
    /* background-size: cover;
    background-position: center; */
    /* top: 100px; */
    /* height: 50vh; */
    /* background-color: black; */
    max-width: 1000px;
    background-size: cover;
    position: relative;
    margin: auto;
    padding-top: 76px;
    z-index: 40;
  }
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }


  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.banner-area{
    background-image: url(../imagini/logooo.jpg);
    background-size: cover;
    background-position: center center;
    /* top: 100px; */
    padding-top: 76px;
    height: 50vh;
}
h1{
    font-size: 50px;
}

.services{
    width: 100%;
    /* margin: auto; */
    display: flex;
    justify-content:center;
    
    /* background-color: aqua; */
    /* margin-right: auto;
    margin-left: auto; */
    /* position: relative; */

}
.container{
    /* width: 50%; */
    width: 1000px;
    display: flex;
    justify-content: center;
}
.service{
    width: 300px;
    display: inline-block;
    background-color: gray;
    color: black;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    font-size: 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: grey;
    font-weight:bold;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;


}
.service:hover{
    background-color: white;
}

/* @media screen and (max-width: 600px) {
    .container{

        display: flex;
        flex-direction: column;
    }
    .service{
        margin-top: 10px;
        margin-bottom: 20px;
    
    
    }
} */